h2 a {
  text-decoration: none;
  position: relative;
  color: #a83361;
}

h2 a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #a83361;
  transition: width 0.3s ease;
}

h2 a:hover::after {
  width: 100%;
}
